*,
html,
body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    background: linear-gradient(30deg, #d2ff55, #5bd1ff);
    min-height: 100vh;
}

header {
    display: flex;
    flex-wrap: wrap;
    max-height: 200px;
    background-color: #3332;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    border: rgb(153, 153, 0) solid 2px;
}

.logo {
    max-height: 200px;
}

.logo img {
    max-height: 105px;
    border-radius: 10%;
}

.Copyright {
    font-size: 20px;
    letter-spacing: 1.5px;
    font-family: 'Play', sans-serif;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.title h1 {
    letter-spacing: 3px;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Play', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
}

.hdNv {
    display: flex;
    align-items: center;
    font-family: 'Play', sans-serif;
    max-width: 400px;
    min-width: 90px;
    height: 55px;
    max-height: 100px;
    gap: 5px;
}

.nvBtn {
    font-weight: 450;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    font-size: 19px;
    width: 75px;
    height: 50px;
    padding: 5px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 11%;
    object-fit: cover;
    font-family: 'Play', sans-serif;
}

.nvBtn:hover {
    background-color: #443c3150;
    color: #673e77;
}
.time {
    display: flex;
    gap: 7px;
}
#jam,#menit,#detik {
    font-size: 20px;
    box-sizing: border-box;
    padding: 2px;
    border: solid 1.5px #676a;
}

.chatBot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botAns {
    display: flex;
    justify-content: center;
    min-height: 65px;
    max-height: auto;
    min-width: 175px;
    max-width: 230px;
    background-color: #8888884f;
    border: #555 2px solid;
    border-radius: 9%;
}
.userInput {
    margin-top: 3.5px;
    background-color: rgba(155, 231, 155, 0.322);
    border-radius: 6%;
}

.botBtn {
    margin-top: 2px;
    background-color: #7186fc88;
    border: none;
    border-radius: 11%;
    cursor: pointer;
    transition: all 0.45s ease-in-out;
}
.botBtn:hover {
    scale: 1.15;
    background-color: #8066897c;
}

.news {
    display: flex;
    min-width: 150px;
    max-width: 200px;
    min-height: 75px;
    max-height: 140px;
    overflow-x: scroll;
    align-items: center;
    justify-content: space-between;
    border: #9898 solid 2px;
    border-radius: 9%;
}

.newsToday {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    min-height: 75px;
    min-width: 190px;
    max-width: 250px;
    position: sticky;
}